.detailProduct {
    display: flex;
    width: 90%;
    /* background-color: red; */
    max-width: 1400px;
    padding: 3rem 0;
    margin: 0 auto;
    margin-top: var(--height-header);
    gap: 3rem;
}

.detailProduct-image {
    width: 45%;
    height: 40rem;
    overflow: hidden;
}

.detailProduct-image img {
    object-fit: cover;    
    width: 100%;
    height: 100%;
    object-position: center;
}

.detailProduct-info { 
    flex: 1;
}

.detailProduct-info-title {
    font-weight: 500;
    font-size: 2.2rem;
}

.detailProduct-info-price {
    font-size: 1.3rem;
    margin-top: .5rem;
    display: block;
}

.detailProduct-info hr {
    border: none;
    border-top: 1px solid rgb(196, 196, 196);
    margin-top: 2rem;
}

.detailProduct-info-contTallas {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;    
}

.detailProduct-info-subtitle {
    margin: 2rem 0 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.detailProduct-info-talla {
    display: grid;
    place-items: center;
    width: 3rem;
    height: 2.2rem;
    border: 1px solid black;
    border-radius: .2rem;
    font-size: 1rem;
    transition: background-color .3s, color .3s;
}

.detailProduct-info-talla:hover, .detailProduct-info-talla.active {
    background-color: black;
    color: white;
}

.detailProduct-info-contTitleColor {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 1rem;
    align-items: center;        
}

.detailProduct-info-contTitleColor h3 {
    margin: 0;
}

.detailProduct-info-contTitleColor span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .9rem;
    color: gray;
}

.detailProduct-info-colors {
    display: flex;
    gap: 1.5rem;
}

.detailProduct-info-color {
    border: 2px solid transparent;
    padding: 2px;    
    border-radius: 50%;
    transition: border .3s;
}

.detailProduct-info-color:hover, .detailProduct-info-color.active {
    border: 2px solid black;
}

.detailProduct-info-color input {    
    position: relative;    
    width: 1.8rem;
    height: 1.8rem;        
    border-radius: 50%;
    cursor: pointer;
    display: block;
}

.detailProduct-info-color input::after {    
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    background-color: inherit;
}

.detailProduct-info-contAmount {
    border: 1px solid black;
    display: flex;
    width: fit-content;
    padding: .5rem 1rem;
    gap: 1rem;
    font-size: 1.1rem;
    border-radius: .2rem;
}

.detailProduct-info-contAmount-btn-icon {
    width: 18px;
    height: 18px;    
}

.detailProduct-info-btn-addCart, .detailProduct-info-btn-buy {
    border: 1px solid black;
    font-size: 1rem;
    width: 100%;
    display: grid;
    place-items: center;
    height: 2.5rem;
    border-radius: .2rem;
}

.detailProduct-info-btn-addCart {
    margin: 2rem 0 1rem;
    transition: background-color .3s, color .3s;
}

.detailProduct-info-btn-addCart:hover {
    background-color: black;
    color: white;
}

.detailProduct-info-btn-buy {
    background-color: black;
    color: white;    
    border: 1px solid black;
    transition: opacity .3s;
}

.detailProduct-info-btn-buy:hover {
    opacity: .7;
}

@media (max-width: 1050px) {
    .detailProduct-image {
        height: 35rem;
    }
}

@media (max-width: 850px) {
    .detailProduct {
        flex-direction: column;
    }
    .detailProduct-image {
        width: 100%;
    }
}

@media (max-width: 500px) {    
    .detailProduct-image {
        height: 25rem;
    }
}