.bannerVideo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bannerVideo-video {
    width: 100%;
}

.bannerVideo-span {
    font-size: 1.3rem;
}

.bannerVideo-contText {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.bannerVideo-title {
    font-size: 4rem;
    font-weight: 500;
}

.bannerVideo-ancle {    
    padding: .7rem 1.1rem;
    text-transform: uppercase;
    border-radius: .2rem;
    color: black;
    background-color: white;
    width: fit-content;    
    transition: background-color .3s, color .3s;
    font-size: .95rem;
}

.bannerVideo-ancle:hover {
    background-color: black;
    color: white;    
}

@media (max-width:1300px){
    .bannerVideo {
        height: 90vh;
    }
}

@media (max-width:1100px){
    .bannerVideo-title {
        font-size: 3rem;
    }

    .bannerVideo-contText {
        gap: 1rem;
    }
}