.cart {
    display: flex;
    margin-top: var(--height-header);
    border-top: 1px solid #dddcdc;
}

.cart-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 4;
    background-color: #ebebeb;
    padding: 3rem;
}

.cart-section-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin-bottom: .8rem;
}

.cart-section-title h2 {
    font-weight: 500;
    font-size: 1.3rem;
}

.cart-section-title a {
    display: block;
    height: fit-content;
    border-bottom: 1px solid black;    
    padding-bottom: .2rem;
    color: black;
    font-size: .9rem;
}

.cart-right {
    flex: 2;   
    /* opacity: .4; */
}

.cart-right-info-price {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid #dddcdc;
}

.cart-right-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: .9rem;
}

.cart-btn-advance-payment {
    background-color: black;
    color: white;
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    margin-bottom: .5rem;
    margin-top: .8rem;
    border: 1px solid black;
    transition: background-color .3s, color .3s;
    font-size: .85rem;    
}

.cart-btn-advance-payment.inactive, .cart-btn-paypal.inactive {
    opacity: .3;
    pointer-events: none;
}

.cart-btn-advance-payment:hover {
    background-color: white;    
    color: black;
}

.cart-btn-paypal {
    border-radius: 2rem;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(98deg,#193c7b,#009cde 93%);
}

.cart-right-info-cards {
    padding: 1rem 2.5rem;        
}

.cart-right-info-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.2rem 0;
}

.cart-right-info-card:nth-child(2) {
    border-top: 1px solid #dddcdc;
    border-bottom: 1px solid #dddcdc;
}

.cart-right-info-card-icon {    
    scale: 2;
}

.cart-right-info-card span {
    font-size: 1rem;
}

.cart-right-info-card p {
    font-size: .8rem;
    margin-top: .5rem;
}

.cart-message-not-found {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;    
    width: 100%;
    background-color: white;
    padding: 2rem;
    height: 20rem;
    text-align: center;
    border-radius: .2rem;
}

.cart-message-not-found-title {    
    font-size: 1.7rem;
    font-weight: 500;    
}

.cart-message-not-found-button {    
    margin: 0 auto;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 1rem;
    font-weight: 500;
    color: black;
    transition: color .3s, background-color .3s;
}

.cart-message-not-found-button:hover {
    background-color: black;
    color: white;    
}

@media (max-width:1050px) {
    .cart {
        flex-direction: column;
    }

    .cart-left {
        padding: 2rem
    }

    .cardProductCart-image-main {
        object-position: center;
    }
}

@media (max-width:700px) {
    .cardProductCart {
        width: 100%;
        height: 15rem;
    }
}

@media (max-width:600px) {
    .cardProductCart {
        height: 15rem;        
    }
    .cart-left, .cart-right {
        padding: 2rem 1rem;
    }
    .cart-right-info-price {
        padding: 0;
    }
    .cart-right-info-cards {
        padding: 1.5rem 0 0 1.5rem;        
    }
}

@media (max-width:500px) {
    .cardProductCart {        
        flex-direction: column;
        height: auto;        
    }
    .cardProductCart-contImg, .cardProductCart-info {
        width: 100%;
    }
    .cardProductCart-contImg {
        height: 20rem;
    }
}