.qa {
    margin: 0 auto;
    margin-top: var(--height-header);
    padding: 3rem 0;
    width: 80%;
    max-width: 80rem;
    text-align: center;
}

.qa-title {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width:800px) {
    .qa {
        width: 90%;
        padding: 2.5rem 0;
    }
    .qa-title {
        margin-bottom: 2rem;
    }
}

@media (max-width:700px) {    
    .qa-title {
        margin-bottom: 1rem;
    }
    .qa {
        padding: 2rem 0;
    }
}