.category {
    width: 100%;
    text-align: center;
    margin: 5rem 0;    
    padding: 0 2.5rem;
}

.category-title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.category-contentCards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width:1300px){
    .category {
        margin: 2rem 0;
    }
}

@media (max-width:1000px){
    .category-contentCards {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .category-title {
        font-size: 2.2rem;
    }
    .category {
        padding: 0 1rem;
    }
}

@media (max-width: 800px) {
    .category-contentCards {
        gap: 1rem;
    }
}

@media (max-width: 500px) {
    .category-contentCards {
        gap: 0;
    }
    .category-contentCards .cardCategory {
        height: 18rem
    }
}

@media (max-width: 400px) {
    .category-contentCards .cardCategory {
        height: 16rem
    }
}