.productCollection {
    width: 100%;
    margin-top: 5rem;
    padding: 2.5rem 2rem;
    text-align: center;
}

.productCollection-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;    
}

.productCollection-groups {
    position: relative;
    display: flex;    
}

.productCollection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productCollection-header-amountProducts {
    font-weight: 600;
}

.productCollection-group-filters {    
    position: sticky;        
    top: 5rem;
    left: 0;    
    height: calc(100vh - 5rem);    
    width: 22rem;
    background-color: white;        
    padding: 1.5rem 2rem 0 0;        
}

.productCollection-group-filters ul {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2.5rem;
    padding: 0 1rem;
}

.productCollection-group-filters ul::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

.productCollection-group-filters li {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.productCollection-group-products {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));    
    padding: 1.5rem 0 3rem 0rem;
    flex: 1;
    column-gap: 1.5rem;
    row-gap: 3rem;
    position: relative;
}

.productCollection-filter-subtitle {
    margin-bottom: .3rem;
    font-size: 1.2rem;    
}

.productCollection-arrow-icon {
    transition: transform .3s;
}

.productCollection-arrow-icon.active {
    transform: rotate(180deg);
}

.group-filter-price {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.productCollection-filter-price {    
    border: 1px solid #c2c1c1;
    height: 3rem;
    padding: 0 .7rem;
    width: 8rem;
    border-radius: .2rem;
    pointer-events: none;
}

.productCollection-filter-price::placeholder {
    color: black;
}

.productCollection-filter-talla input {    
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;    
    left: 0;
    cursor: pointer;
    z-index: 2;
}

.productCollection-filter-talla {
    position: relative;
}

.productCollection-filter-talla span {    
    margin-left: 1.8rem;
}

.productCollection-filter-talla span::before {
    position: absolute;
    content: '';
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: .2rem;
    border-radius: .2rem;
}

.productCollection-filter-talla input:checked + span::after {
    position: absolute;
    content: '';
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    background-color: white;
    filter: invert(100%);
    background-image: url('../../assets/img/icons/check-lg.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: .2rem;
    background-position: center;
}

.productCollection-contFilters-color {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: .5rem;
}

.productCollection-filter-color {    
    position: relative;        
}

.productCollection-filter-color input {    
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.productCollection-filter-color span {            
    width: 20px;
    height: 20px;    
}

.productCollection-filter-color span::before {    
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;    
    border: 1px solid lightgray;
    border-radius: 50%;    
}

.productCollection-filter-color:nth-child(1) span::before {
    background-color: red;
}

.productCollection-filter-color:nth-child(2) span::before {
    background-color: goldenrod;
}

.productCollection-filter-color:nth-child(3) span::before {
    background-color: blue;
}

.productCollection-filter-color:nth-child(4) span::before {
    background-color: green;
}

.productCollection-filter-color:nth-child(5) span::before {
    background-color: yellow;
}

.productCollection-filter-color:nth-child(6) span::before {
    background-color: black;
}

.productCollection-filter-color:nth-child(7) span::before {
    background-color: white;
}

.productCollection-filter-color:nth-child(8) span::before {
    background-color: aqua; 
}

.productCollection-filter-color:nth-child(9) span::before {
    background-color: lightgray; 
}

.productCollection-filter-color:nth-child(10) span::before {
    background-color: lightblue; 
}

.productCollection-filter-color:nth-child(11) span::before {
    background-color: pink; 
}

.productCollection-filter-color:nth-child(12) span::before {
    background-color: purple; 
}

.productCollection-filter-color span::after {
    position: absolute;
    content: '';
    left: -2px;
    top: -2px;    
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s;
}

.productCollection-filter-color input:checked + span::after,
.productCollection-filter-color input:hover + span::after
{
    opacity: 1;
}

.productCollection-btn-filter {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
    font-size: 1.4rem;  
}

.productCollection-group-filters .css-187mznn-MuiSlider-root {   
    color: black;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.productCollection-message-empty {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    text-align: center;    
    padding: 1rem;
}

.productCollection-message-empty h2 {
    font-weight: 500;
}