.cardProduct {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .7rem;        
    color: black;
    max-width: 300px;
    text-align: start;
}

.cardProduct-contentImage {
    position: relative;
    height: 22rem;
    width: 100%;
    overflow: hidden;
}

.cardProduct-contentImage:hover .cardProduct-first-image {
    transform: scale(1.1);
}

.cardProduct-contentImage:hover .cardProduct-cont-hover {
    opacity: 1;
}

.cardProduct-cont-hover {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .6);
    z-index: 2;
    transition: opacity .3s;
    opacity: 0;
}

.cardProduct-contentImage .cardProduct-first-image {
    z-index:2;
    transition: transform .3s;
    object-fit: cover;
    object-position: center;
}

.cardProduct-contentImage img {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;    
}

.cardProduct-colors {
    display: flex;
    gap: .6rem;
}

.cardProduct-color {
    border-radius: 50%;
    width: 15px;
    height: 15px;    
    border: 1px solid lightgray;
}

@media (max-width:1300px){
    .cardProduct-contentImage {
        height: 16rem;
    }
}