header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.2rem;
    height: var(--height-header);
    background-color: transparent;
    z-index: 3;
    border-bottom: 1px solid transparent; 
}

header:hover, header.active {
    background-color: white;
    border-color: #dddcdc;
    transition: background-color .5s, border-color .5s;
}

.header-left, .header-right {
    display: flex;
    gap: 1.2rem;        
}

.header-btn-search, .header-btn-menu, .header-btn-account, .header-btn-cart {
    display: flex;
    gap: .5rem;    
    color: white;
    font-size: .9rem;
}

.header-btn-cart a, .header-btn-account a {
    color: white;
}

/* cambio de color en el los elementos del header cuando se hace hover o scroll */
header.active .header-btn-search,
header:hover .header-btn-search,
header.active .header-btn-menu,
header:hover .header-btn-menu,
header.active .header-btn-account,
header:hover .header-btn-account,
header.active .header-btn-cart,
header:hover .header-btn-cart,
header.active .header-title,
header:hover .header-title,
header.active .header-btn-cart a,
header:hover .header-btn-cart a,
header.active .header-btn-account a,
header:hover .header-btn-account a {
    color: black;
    transition: color .5s;
}

.header-title {
    color: white;
    font-weight: 600;    
    font-size: 2.2rem;
    letter-spacing: .2rem;
}

@media (max-width: 1000px) {
    .header-title {
        font-size: 1.9rem;
    }
}

@media (max-width: 800px) {
    .header-right > a > span, .header-left > button > span {
        display: none;
    }     
    
    header {
        padding: 0 1rem;
    }
}

@media (max-width: 450px) {
    .header-title {
        text-align: center;
        margin: 0 .5rem;
    }

    .header-left, .header-right {     
        gap: .8rem;        
    }
    
    header svg {
        font-size: 1.2rem;
    }
}

@media (max-width: 422px){
    .header-left, .header-right {     
        gap: 1.2rem;        
    }

    header svg {
        font-size: 1.3rem;
    }
}

@media (max-width: 385px) {
    .header-title {        
        text-align: center;
    }
}