.bannerCategory {
    padding: 3rem 2.5rem;
    width: 100%;
    text-align: center;
}

.bannerCategory-title {
    font-size: 2rem;
    font-weight: 500;
}

.bannerCategory > a {
    margin: .3rem auto;
    font-size: .9rem;
    color: rgb(156, 3, 3);
    border-bottom: 1px solid rgb(156, 3, 3);
    padding-bottom: .2rem;
    display: block;
    width: fit-content;    
}

.bannerCategory-products {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));    ;
    gap: 2rem;
    width: 100%;    
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 1600px;
}

@media (max-width:1300px) {
    .bannerCategory-products {
        grid-template-columns: repeat(5, minmax(150px, 1fr));
        gap: 1rem;
    }
}

@media (max-width:1000px) {
    .bannerCategory {
        padding: 2rem 1rem;
    }

    .bannerCategory-products {
        row-gap: 2rem;
    }
}

@media (max-width:850px) {
    .bannerCategory-products {
        display: none;
    }
}