.footer {
    display: flex;
    gap: 1.2rem;
    padding: 3.5rem 2.5rem;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
}

.footer-logo {
    font-weight: 600;
}

.footer-title {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-text {
    color: white;
    font-size: .9rem;
}

.footer-text-lh {
    line-height: 1.5625rem;
}

.footer-group {
    display: flex;
    flex-direction: column;    
    max-width: 20rem;
    gap: 1.5rem;    
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.footer-input {
    background-color: white;
    height: 3rem;
    border-radius: .2rem;
    padding: 0 .5rem;
    width: 100%;
    font-size: .9rem;
    color: black;
    font-weight: 500;
}

.footer-button {
    display: block;
    margin-top: 1.5rem;
    background-color: white;    
    height: 2.8rem;
    border-radius: .2rem;
    color: black;    
    font-weight: 500;
    padding: 0 1.5rem;
    text-transform: uppercase;
}

.footer-img-book {
    width: 120px;
}

.footer-redes {
    display: flex;
    gap: .8rem;
}

.footer-ancle-redes {
    color: white;
}