.cardCategory {
    position: relative;
    height: 22rem;
    width: 100%;
    background-color: lightcoral;
}

.cardCategory-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
}

.cardCategory-span {
    font-size: .85rem;
}

.cardCategory-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}