.cardCategory {
    position: relative;
    height: 27rem;
    border-radius: .1rem;
    width: 100%;    
    overflow: hidden;
}

.cardCategory:hover > .cardCategory-img {
    transform: scale(1.1);
}

.cardCategory::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / .4)
}

.cardCategory-img {
    width: 100%;   
    height: 100%; 
    transition: transform .3s;
}

.cardCategory-text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    z-index: 2;
}

.cardCategory-span {
    font-size: .85rem;
}

.cardCategory-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

@media (max-width:1300px){
    .cardCategory {
        height: 22rem;
    }
}

@media (max-width: 1100px) {
    .cardCategory-title {
        font-size: 1.5rem;
        margin-top: .5rem;
    }

    .cardCategory {
        height: 30rem;
    }
}

@media (max-width: 650px) {
    .cardCategory {
        height: 22rem;
    }
}